<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img
        src="https://www.ssbwiki.com/images/a/a7/CastlevaniaSymbol.svg"
        width="112"
        height="28"
      />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a *ngIf="auth == true" routerLink="messages" class="navbar-item">
        Message System
      </a>

      <a *ngIf="auth == false" routerLink="login" class="navbar-item">
        Log in
      </a>

      <a *ngIf="auth == false" routerLink="signup" class="navbar-item">
        Sign up
      </a>

      <a *ngIf="auth == true" (click)="onLogOut()" class="navbar-item">
        Log out
      </a>
    </div>
  </div>
</nav>
